**/target/
.idea
*.iml
*.class
*Test.java
**/test/
# 敏感配置文件
**/application-dev.yml
**/application-prod.yml
**/application-local.yml
# 敏感配置文件
**/application-dev.yml
**/application-prod.yml
**/application-local.yml